body {
overflow-x: hidden;
}

@font-face {
font-family: myFirstFont;
src: url('../fonts/NotoSans-Regular.ttf');
}

.frmcl {
background:#fff;margin-top:10px;padding:10px;text-align:center;
}

.pdng10 {
padding:10px;
}

.alnk21 {
padding:8px;width: 91%;display: block;margin: auto;/* text-align:center; *//* position: relative; */
}

.btn3 {
width:85%;text-align:center;
}


.btn1 {
    color: #fff;
    border-radius:5%;
    background-color: #449d44;
}


.btn2 {
	border-radius:5%;
    color: #fff;
    background-color: #2057a2;
}


input[type='text'] {
    background: #fff;
    width: 300px;
    padding: 10px;
    color: #808080;
    border-radius: 3px 3px 3px 3px;
    outline: none;
    border: 1px solid #D1D3D6;
    margin-bottom: 15px;
}


body {
font-family: myFirstFont;
font-size:16px;
box-sizing: border-box;
background: #dddcdc;
margin:0;
font-weight:400;
}


.right {
float:right;
}

.left {
float:right;
}

.center {
	justify-content:center;
	text-align:center;
}

.flex {
	display:flex;
}


.flex-row {
flex-direction: row;
}

.flex-column {
flex-direction: column;
}

.lmenuTitle {
padding:10px;
}

#lmenu {
background: #d8cdcd;
}

#lmenusub {
margin-top:10px;
}

.lmenusub > div {
padding-left:10px;
}

.Nav {
padding:20px;background:#677fb2;color:#fff;
}


.nlnch2 {
    background: #fff;
    text-align: center;
    padding: 10px;
}

a {
text-decoration: none;
}



.cl5123 {
    width: 100%;
    display: inline-block;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ede2e2;
}

.nvmn1 {
float:left;margin-top: 5px;
}


.nvmn1112 {
display:inline-flex;
}



#S123 > div {
flex: 0 0 auto;
padding-right:10px;
align-self: center;
}


.brdr50 {
border-radius:50%;
}

.crz21 {
color:#fff;padding: 6px 0 6px 20px;font-size: 2rem;border-bottom: 1px solid #f9ffe1;
}


.Lmenu_2 {
    background: #0aabfe;
    //background: #866ec7;
    //#77cc6d: ;
    //#2ac4ea: ;
    //#f6653c: ;
}


.lmenusub > div {
    padding: 12px 0 12px 15px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.1);
    font-size: 17px;
}


.lmenusub > div:hover {
background: #fff;
color: #000;
}


.footr2 {
background:#fff;padding:10px;text-align:center;
}
